# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Hatch build artifacts
*.hatch

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Lint & type checking
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/

# pre-commit
.pre-commit-config.yaml
.pre-commit-config.yaml.lock
.pre-commit-hooks.yaml
.pre-commit-hooks.yaml.lock

# dotenv
.env
.env.*
*.env

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Poetry
poetry.lock